@import "./colors";

// General class utils
.c-pointer {
  cursor: pointer;
}

// display class utils
.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}


.divider {
  margin: 1.25em 0;
  border: 1px solid map-get($theme-colors, 'gray');
}