@import './utils';
@import './fonts';
@import './variables';
@import './mixins';

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

ul {
  list-style: none;
}

.container {
  @include make-container();
  @include make-container-max-widths();
}